<div class="row collapse">
  <div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns">
      <br \>
      <br \>
      
    <%= form_for(@group, builder: FoundationFormBuilder) do |f| %>
      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.text_field :tag_list, label: "Tags (seperated by commas)" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Submit" %>
    <% end %>

  </div>
</div>