<section id="homepage-hero">
<div class="row">
<div class="medium-7 large-6 columns">
<h1>Mastermind Groups are</h1><br>
<h3>people getting together to help each <br class="hide-for-small">acheive greater success.</h3>
<br>
</div>
</div>
<div class="row">
<div class="large-4 medium-6 columns">
<a href="#" class="large button hide-for-small">How It Works</a>
</div>
</div>
</section>

<div class="row">
<div class="large-12 columns">
<div class="radius panel">
<div class="row collapse">
<div class="large-10 small-8 columns text-center">
  <%= form_tag groups_path, :method => 'get' do %>
    <%= text_field_tag :tag_list, params[:search], :placeholder => "Search with Tags" %>
</div>
<div class="large-2 small-3 columns">
  <%= submit_tag "Search", :name => nil, :class => "postifix button expand" %>
  <% end %>
</div>
<div class="large-12 columns text-center">
  <div id="tag_cloud">
    <h3>Browse Popular Topics</h3>
  <% tag_cloud Group.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>



<section id="main-content center">
  <div class="row">
    <ul class="list groups-list no-bullet">
      <% @groups.each do |group| %>
          <%= link_to group_path(group) do %>
        <li id="<%= dom_id(group) %>" class="clearfix">
            <div class="small-12 medium-3 columns no-pad-left center">
              <img src="http://placehold.it/300x300">
            </div>
            <div class="small-10 medium-9 columns truncate center" title="<%= group.name %>">
              <%= group.name %>
              <div class="row">
                <%= group.description %>
                <p>
                  Tags: <%= raw group.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> 
              </div>
            </div>
          <% end %>
        </li>
    <% end %>
    </ul>
  </div>
</section>