<%= render 'join_form' %>
<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @group.user_id %>
</p>


<% if @group.users.any? %>
<h2>Members</h2>
		<% @group.users.each do |user| %>
      <%= user.email %>
      <%= user.name %>
      <%= image_tag(user.image) %>
      <%= link_to 'Remove Member', reject_membership_path(user.memberships.first), method: :put %>
		<% end %> 
	</div>
<% end %>


              <% if can? :update, @group %>
                <%= link_to 'Edit', edit_group_path(@group) %>
              <% end %>
              <% if can? :destroy, @group %>
                <%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
