<div class="row"> 
<div class="large-12 columns text-center">
  <h1 class="page-title truncate"><%= @group.name %></h1>
</div>
</row>
<div class="large-10 columns">
<div class="row">
  <dl class="sub-nav">
    <dd class="active"><a href="#">Home</a></dd>
    <dd><a href="#">Team</a></dd>
    <dd><a href="#">Resources</a></dd>
    <dd><a href="#">Weekly Accountability</a></dd>
  </dl>
</div>
</div>

<div class="large-2 columns text-center">
  <%= render 'join_form' %></div>
</div>

<div class="row"> 





<div class="large-9 push-3 columns">
  <div class="panel">
<h3>About <small>Our Mission</small></h3>
<p>
  <%= @group.description %>
</p>
<p>
<% if @group.users.any? %>
<h3>Team</h3>
  <ul class="list no-bullet">
    <% @group.users.each do |user| %>
    <li id="<%= dom_id(user) %>" class="clearfix">
      <%= image_tag(user.image) %>
      <%= user.email %>
      <%= user.name %>
      <% if can? :manage, @group %>
      <%= link_to 'Remove Member', reject_membership_path(user.memberships.first), method: :put %>
      <% end %>
    </li>
    <% end %> 
  </ul>
<% end %>
</p>
</div>
</div>



  <div class="large-3 pull-9 columns">
  <div class="panel">
<p><img src="http://placehold.it/320x240&text=Ad"/></p>
<ul class="side-nav">
<li><a href="#">About</a></li>
<li><a href="#">Members</a></li>
<li><a href="#">Section 3</a></li>
<li><a href="#">Section 4</a></li>
<li><a href="#">Section 5</a></li>
<li><a href="#">Section 6</a></li>
</ul>
</div>
</div>
</div>




