<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mastermind" %></title>

  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>    
  	<%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<%= render 'layouts/header' %>
    <%= render partial: "layouts/flash" %>
      <br \>
      <br \>
        <div class="row collapse">
          <div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns">
            <%= yield %>
          </div>
        </div>
        
		    <%= javascript_include_tag "application" %>
	  	<%= render 'layouts/footer' %>
  </body>
</html>